<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"
      requirePermission="true"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <dataConfiguration defaultDatabase="HorseLesson" />
  <connectionStrings>
    <add name="HorseLesson"
            connectionString="Data Source=DESKTOP-C6984LO\SQLEXPRESS14;Initial Catalog=HorseLesson;Persist Security Info=True;User ID=appuser;Password=password"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>